<!DOCTYPE html>
<html lang="en" id="html1">
    <head>
        <title>Document</title>
    </head>
<body id="b1">

    <div id="divA">

        <div id="divA1">

            <h2 id="h1">Login</h2>

        <div class="form">  <input type="text" id="email"  name="MyEmail" placeholder="ID" required>    
        </div><br>

        <div class="form">  <input type="password" id="password"name="MyPassword" placeholder="Password" required>
        </div>

        <div class="form" id="cb"> 
            <a href="https://myaccount.google.com/intro/signinoptions/password" id="f-pas-link">Forgotten your
            Password?</a>
        </div>  

        <a href="@"> 
        <button id="log-btn">
            <span id="log-1">Login</span>
        </button>
        </a>


        <a href="@">
        <button id="google-btn">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="Google Logo" alt="google logo" id="google-icon">
            <span id="lwg">Login with Google</span>
        </button>
    </a>
            
        </div>
        </div>
</body>
<link rel="stylesheet" href="login.page.css">
</html>